@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Board Dealer</h1>
    <p>Wybieraj gry planszowe z naszej bogatej oferty i zarezerwuj je w aplikacji a my zajmiemy się resztą!</p>
</div>
